STORAGE_ROOT=../../storage
PUBLIC_APP_URL=http://localhost:3000
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_STARTTLS=true
SMTP_USE_SSL=false
KINDLE_SEND_QUEUE_ENABLED=true
KINDLE_SEND_QUEUE_INTERVAL_SECONDS=5
